.header {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* 子元素對齊頭尾 */
    justify-content: space-between; 
    
    /* 與底下元素間隔 */
    margin-bottom: 40px;
}

.logo {
    /* border: 1px solid blue; */
    justify-items: flex-start;
}

.navDesktop {
    display: block;

    @media (max-width: 750px) {
        display: none;
    }
}

.navDesktop > span {
    color: var(--dark-grayish-blue);
    font-size: var(--font-size-paragraph);
    font-family: var(--font-family);
}

.navDesktop > span:hover {
    color: var(--soft-red);
    cursor: pointer;
}

.navDesktop > span:nth-child(1),
.navDesktop > span:nth-child(2),
.navDesktop > span:nth-child(3),
.navDesktop > span:nth-child(4) {
    margin-right: 20px;
}

.navMobile {
    display: none;

    @media (max-width: 750px) {
        display: block;
    }
}

