.article {
    width: 65%;

    @media (max-width: 1380px) {
        width: 100%;
        margin: 40px 0;
    }
}

.img{
    width: 100%;
    margin-bottom: 40px;
}

.divTexts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 1380px) {
        flex-direction: column;
    }
}

.h1 {
    font-size: 52px;
    font-family: var(--font-family);
    font-weight: var(--font-weight-extra-bold);
    width: 40%;
    line-height: 1em;
    margin: var(--font-margin-h1);

    @media (max-width: 1380px) {
        width: 100%;
        margin: 20px 0;
    }
}

.box {
    width: 52%;

    @media (max-width: 1380px) {
        width: 100%;
    }
}

.box > p {
    margin-bottom: 30px;
    font-family: var(--font-family);
    font-size: var(--font-size-paragraph);
    line-height: 1.5em;
    color: var(--dark-grayish-blue);
}
