.button {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    padding: 10px 20px;
    cursor: pointer;
}